body {
	font-family: 'Montserrat', sans-serif;
}

header {
	background-image: url("clothing.jpg");
	background-size: contain;
	height: 500px;
}

#title {
	align-content: center;
	background-color: rgba(0, 0, 0, 0.75);
	color: white;
	display: flex;
	flex-wrap: wrap;
	font-family: 'Righteous', sans-serif;
	font-size: 24px;
	height: 100%;
	justify-content: center;
	text-align: center;
	width: 100%;
}

#title h1 {
	font-size: 60px;
	margin: 0 0 20px 0;
	width: 100%;
}

#title h2 {
	font-size: 30px;
	margin: 0;
}

#blurb {
	font-size: 24px;
}

#blurb :nth-child(4) {
	margin-top: 5%;
}

.charity-info {
	font-size: 18px;
}

h5 {
	font-size: 16px;
}

iframe {
	margin-top: 2%;
	max-width: 600px;
	width: 100%;
}

main {
	margin: auto;
	max-width: 1000px;
	padding: 0 20px;
}

h3 {
	color: white;
	font-size: 24px;
	padding: 10px 5px;
}

ul, ol {
	list-style: none;
}

li {
	padding: 0 0 10px 0;
}

ul li::before {
	content: "\2B51  ";
}

ol {
	font-size: 18px;
}

ol li {
	counter-increment: myCounter;
}

ol li::before {
	content: counter(myCounter);
	display: inline-block;
	font-size: 28px;
	left: -30px;
	position: relative;
	top: 5px;
}

#event-details {
	font-size: 36px;
	padding: 20px 0 40px 0;
	text-align: center;
}

.faq-question {
	font-size: 18px;
	font-weight: bold;
	margin: 20px 0;
}

#drop-off .faq-question {
	color: #50f;
}

#drop-off h3 {
	background-color: #50f;
}

#sign-up .faq-question {
	color: #e00074;
}

#sign-up h3 {
	background-color: #e00074;
}

.faq-answer {
	margin-left: 20px;
}

.dropoff-location {
	display: inline-block;
}


@media screen and (min-width: 768px) {
	#title h1 {
		font-size: 90px;
	}

	#title h2 {
		font-size: 60px;
	}
}